<h2>Employee List</h2>
<table>
    <thead>
        <th>Full Name</th>
        <th>Position</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees$ | async">
            <td>{{employee.firstName}} {{employee.lastName}}</td>
            <td>{{employee.position}}</td>
            <td>
                <button (click)="showConfirmationDialog()">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<ng-container *ngComponentOutlet="confirmDialog"></ng-container>